.home-header1 {
    display: flex;
    font-size: 4em;
    margin: 0px 0px;
}

.home-create-button {
    font-size: 2em;
    margin: 0em 2em;
    background-color: aqua;
    border-radius: 10px;
}

.image-home-banner {
    display: flex;
    margin: 0px 0px;
}