#home-wrapper {
    border: black solid 2px;
    margin-bottom: 3em;
}

.home-header1 {
    margin: 0px 0px;
    padding: 10.063rem 0px;
    font-size: 4em;
    text-align: center;
}

.image-home-banner {
    float: left;
    margin: 0px 0px;
    max-width: 600px;
    max-height: 450px;
}

.home-create-button-housing {
    text-align: center;
}

.home-create-button {
    font-size: 2em;
    margin: 0em 2em;
    background-color: aqua;
    border-radius: 10px;
}

.oder-list {
    margin: 3em auto 0px auto;
}